/* COLOR REFERENCES
    primary-color: #607D8B;
    dark-primary-color: #455A64;
    light-primary-color: #CFD8DC;
    text-incons: #FFFFFF;
    accent-color-1: #00BCD4;
    light-accent-color-1: #80DEEA;
    accent-color-2: #13C4A3;
    light-accent-color-2: #5CF2D4;
    primary-text: #212121;
    secondary-text: #757575;
    divider-color: #BDBDBD;
*/

@import url(http://fonts.googleapis.com/css?family=Libre+Franklin:300);

.navbar-default .navbar-nav .navbar-fixed-bottom > li > .dropdown-menu > li > a {
  margin-left: 50px;
  margin-right: : 50px;
}

img.center {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

img.image_row {
    margin-bottom: 10px;
    height: 190px;
    width: 300px;
}

body {
    font-family: 'Libre Franklin', sans-serif;
    color: #212121;
    /*background-color: #f0f3f4;*/
}

.thumbnail {
    margin-bottom: 60px;
}
